.c-interactive-showcase{
    display: flex;
    padding: 64px 0;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    font-size: 0;

    @media (min-width: 640px){
        padding: 25px 0 100px;
    }

    @media (min-width: 900px){
        padding: 100px 0;
    }

    @media (min-width: 1800px){
        padding: 200px 0;
    }

    .c-interactive-showcase_wrapper{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;

        @media (min-width: 1800px){
            flex-flow: row nowrap;
            width: 100%;
        }

        .c-interactive-showcase_content{
            display: inline-block;
            max-width: 733px;
            position: relative;
            margin-top: 0;
            padding: 0 32px;

            @media (min-width: 900px){
                margin-top: 128px;
                padding: 0;
            }

            @media (min-width: 1800px){
                display: block;
                margin-top: 0;
            }

            h3{
                display: block;
                font-weight: bold;
                font-size: 65px;
                color: $brand-purple;
                text-transform: uppercase;
                margin: 0;
                padding: 0;
                padding-bottom: 64px;
                position: relative;
                font-family: 'Noto Sans', sans-serif;

                &::after{
                    content:"";
                    display: inline-block;
                    width: 134px;
                    height: 3.5px;
                    border-bottom: 3.5px dotted $brand-purple;
                    position: absolute;
                    bottom: 32px;
                    left: 0;
                }
            }

            p{
                margin: 0;
                padding: 0;
                line-height: 38px;
                font-size: 26px;
                color: black;
                font-family: 'Noto Sans', sans-serif;
            }
        }
    }
}
