.c-interactive-element{
    display: inline-block;
    width: 678px;
    height: 678px;
    position: relative;
    margin-right: 100px;

    a{
        text-decoration: none;
    }

    .c-interactive-element_copy{
        text-transform: uppercase;
        color: rgba($brand-purple, 0.87);
        font-size: 21px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: bold;
        display: block;
        text-align: center;
        text-decoration: none;
        z-index: 2;
        margin-top: 8px;
    }

    .c-interactive-element_circle{
        fill: none;
        stroke: $gray;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 5px;
        stroke-dasharray: 0 9.0368;
        animation: rotateCircle 120s linear infinite;
    }

    .c-interactive-element_clock,
    .c-interactive-element_heart,
    .c-interactive-element_checkmark{
        display: inline-flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        cursor: pointer;

        svg{
            width: 100px;
            height: 100px;
            z-index: 2;
        }
    }

    .c-interactive-element_heart{
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);

        &:hover{
            .c-interactive-element_heart_icon_inner{
                animation: heartHoverFill 900ms $ease-in infinite;
            }
        }

        .c-interactive-element_heart_icon{
            fill: rgba($brand-purple, 0.87);
        }

        .c-interactive-element_heart_icon_inner{
            fill: $brand-purple;
            opacity: 0;
            transform-origin: center;
            transform: scale(0) translate3d(-1px, -8px, 0);
        }
    }

    .c-interactive-element_checkmark{
        top: 50%;
        transform: translateY(-50%);
        right: -60px;

        &::before{
            content:"";
            display: inline-block;
            width: 175%;
            height: 175%;
            border-radius: 100%;
            background: radial-gradient(#fff 50%, rgba(#fff, 0.01), rgba(#fff, 0.005), rgba(#fff, 0) 100%);
            position: absolute;
        }

        &:hover{
            .c-interactive-element_checkmark_check{
                animation: checkLoop 400ms $ease-sharp;
            }
        }

        svg{
            transform: translateX(-3px);
        }

        .c-interactive-element_checkmark_circle,
        .c-interactive-element_checkmark_check{
            fill: none;
            stroke: rgba($brand-purple, 0.87);
            stroke-linecap: round;

        }

        .c-interactive-element_checkmark_circle{
            stroke-width: 7px;
        }

        .c-interactive-element_checkmark_check{
            stroke-width: 8px;
            stroke-dasharray: 120;
            stroke-dashoffset: 0;
        }
    }

    .c-interactive-element_clock{
        top: 50%;
        transform: translateY(-50%);
        left: -60px;

        &::before{
            content:"";
            display: inline-block;
            width: 175%;
            height: 175%;
            border-radius: 100%;
            background: radial-gradient(#fff 50%, rgba(#fff, 0.01), rgba(#fff, 0.005), rgba(#fff, 0) 100%);
            position: absolute;
        }

        &:hover{
            .c-interactive-element_clock_top{
                animation: ringTicker 150ms $ease infinite;
            }

            .c-interactive-element_clock_button{
                stroke-dashoffset: -5;
                transition: all 75ms $ease-in;
            }
        }

        .c-interactive-element_clock_cricle,
        .c-interactive-element_clock_top{
            fill: rgba($brand-purple, 0.87);
        }

        .c-interactive-element_clock_top{
            transform-origin: 50px 27px;
        }

        .c-interactive-element_clock_button{
            stroke-dasharray: 10;
            stroke-dashoffset: 0;
            transition: all 75ms $ease-sharp;
        }

        .c-interactive-element_clock_hand,
        .c-interactive-element_clock_button{
            fill: none;
            stroke: rgba($brand-purple, 0.87);
            stroke-linecap: round;
            stroke-width: 7px;
        }
    }
}

@keyframes ringTicker{
    0%{
        transform: rotate(0deg) translate(-12px, -5px);
    }
    25%{
        transform: rotate(-15deg) translate(-12px, -5px);
    }
    75%{
        transform: rotate(15deg) translate(-12px, -5px);
    }
    100%{
        transform: rotate(0deg) translate(-12px, -5px);
    }
}

@keyframes checkLoop{
    0%{
        stroke-dashoffset: 0;
    }
    50%{
        stroke-dashoffset: -120;
    }
    100%{
        stroke-dashoffset: -240;
        animation-timing-function: $ease-in;
    }
}

@keyframes rotateCircle{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes heartHoverFill{
    0%{
        transform: scale(0) translate3d(-1px, -8px, 0);
        opacity: 0;
    }
    25%{
        transform: scale(1) translate3d(-1px, -8px, 0);
        opacity: 0.15;
    }
    50%{
        transform: scale(1) translate3d(-1px, -8px, 0);
        opacity: 0.15;
    }
    75%,
    100%{
        transform: scale(1) translate3d(-1px, -8px, 0);
        opacity: 0;
        animation-timing-function: $ease-sharp;
    }
}
