.c-interactive-element{
    display: inline-block;
    max-width: 678px;
    position: relative;
    margin-right: 100px;
    width: 100%;

    &::before{
        content:"";
        display: none;
        padding-top: 100%;

        @media (min-width: 460px){
            display: block;
        }
    }

    @media (min-width: 460px){
        transform: scale(0.7);
    }

    @media (min-width: 900px){
        transform: scale(1);
    }

    @media (max-width: 1800px){
        display: block;
        margin: 0;
    }

    a{
        text-decoration: none;
    }

    .c-interactive-element_copy{
        text-transform: uppercase;
        color: rgba($brand-purple, 0.87);
        font-size: 21px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: bold;
        display: block;
        text-align: center;
        text-decoration: none;
        z-index: 2;
        margin-top: 8px;

    }

    .c-interactive-element_circle{
        fill: none;
        stroke: $gray;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 5px;
        stroke-dasharray: 0 9.0368;
        animation: rotateCircle 120s linear infinite;
        position: absolute;
        top: 0;
        left: 0;

        @media (max-width: 460px){
            display: none;
        }
    }

    .c-interactive-element_clock,
    .c-interactive-element_heart,
    .c-interactive-element_checkmark,
    .c-interactive-element_chat,
    .c-interactive-element_chart{
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;

        @media (max-width: 460px){
            top: auto !important;
            left: auto !important;
            bottom: auto !important;
            right: auto !important;
            transform: none !important;
            margin-bottom: 64px;

            svg{
                display: block;
                margin: 0 auto;
            }
        }

        @media (min-width: 460px){
            display: inline-flex;
            position: absolute;
            justify-content: center;
            align-items: center;
        }

        svg{
            width: 100px;
            height: 100px;
            z-index: 2;
        }
    }

    .c-interactive-element_heart{
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);

        @media (max-width: 460px){
            .c-interactive-element_heart_icon_inner{
                animation: heartHoverFill 900ms $ease-in infinite;
            }
        }

        &:hover{
            .c-interactive-element_heart_icon_inner{
                animation: heartHoverFill 900ms $ease-in infinite;
            }
        }

        .c-interactive-element_heart_icon{
            fill: rgba($brand-purple, 0.87);
        }

        .c-interactive-element_heart_icon_inner{
            fill: $brand-purple;
            opacity: 0;
            transform-origin: center;
            transform: scale(0) translate3d(-1px, -8px, 0);
        }
    }

    .c-interactive-element_checkmark{
        top: 50%;
        transform: translateY(-50%);
        right: -60px;

        &::before{
            content:"";
            display: inline-block;
            width: 175%;
            height: 175%;
            border-radius: 100%;
            background: radial-gradient(#fff 50%, rgba(#fff, 0.01), rgba(#fff, 0.005), rgba(#fff, 0) 100%);
            position: absolute;
            pointer-events: none;

            @media (max-width: 460px){
                display: none;
            }
        }

        @media (max-width: 460px){
            .c-interactive-element_checkmark_check{
                animation: checkLoopMobile 800ms $ease-sharp infinite;
            }
        }

        &:hover{
            .c-interactive-element_checkmark_check{
                animation: checkLoop 400ms $ease-sharp;
            }
        }

        svg{
            transform: translateX(-3px);
        }

        .c-interactive-element_checkmark_circle,
        .c-interactive-element_checkmark_check{
            fill: none;
            stroke: rgba($brand-purple, 0.87);
            stroke-linecap: round;

        }

        .c-interactive-element_checkmark_circle{
            stroke-width: 7px;
        }

        .c-interactive-element_checkmark_check{
            stroke-width: 8px;
            stroke-dasharray: 120;
            stroke-dashoffset: 0;
        }
    }

    .c-interactive-element_clock{
        top: 50%;
        transform: translateY(-50%);
        left: -60px;

        &::before{
            content:"";
            display: inline-block;
            width: 175%;
            height: 175%;
            border-radius: 100%;
            background: radial-gradient(#fff 50%, rgba(#fff, 0.01), rgba(#fff, 0.005), rgba(#fff, 0) 100%);
            position: absolute;
            pointer-events: none;

            @media (max-width: 460px){
                display: none;
            }
        }

        @media (max-width: 460px){
            .c-interactive-element_clock_top{
                animation: ringTicker 150ms $ease infinite;
            }

            .c-interactive-element_clock_button{
                stroke-dashoffset: -5;
                transition: all 75ms $ease-in;
            }
        }

        &:hover{
            .c-interactive-element_clock_top{
                animation: ringTicker 150ms $ease infinite;
            }

            .c-interactive-element_clock_button{
                stroke-dashoffset: -5;
                transition: all 75ms $ease-in;
            }
        }

        svg{
            width: 95px;
            height: 95px;
        }

        .c-interactive-element_clock_cricle,
        .c-interactive-element_clock_top{
            fill: rgba($brand-purple, 0.87);
        }

        .c-interactive-element_clock_top{
            transform-origin: 50px 27px;
        }

        .c-interactive-element_clock_button{
            stroke-dasharray: 10;
            stroke-dashoffset: 0;
            transition: all 75ms $ease-sharp;
        }

        .c-interactive-element_clock_hand,
        .c-interactive-element_clock_button{
            fill: none;
            stroke: rgba($brand-purple, 0.87);
            stroke-linecap: round;
            stroke-width: 7px;
        }
    }

    .c-interactive-element_chat{
        top: -50px;
        left: 50%;
        transform: translateX(-50%);

        &::before{
            content:"";
            display: inline-block;
            width: 175%;
            height: 175%;
            border-radius: 100%;
            background: radial-gradient(#fff 50%, rgba(#fff, 0.01), rgba(#fff, 0.005), rgba(#fff, 0) 100%);
            position: absolute;
            pointer-events: none;

            @media (max-width: 460px){
                display: none;
            }
        }

        @media (max-width: 460px){
            .c-interactive-element_chat_item_1_hover,
            .c-interactive-element_chat_item_2_hover{
                animation: chatBubbleFill 2000ms $ease-in infinite;
            }

            .c-interactive-element_chat_item_1_hover{
                animation-delay: 1000ms;
            }

            .c-interactive-element_chat_item_2{
                animation: chatBubble2Wiggle 2000ms $ease infinite;
            }

            .c-interactive-element_chat_item_1{
                animation: chatBubble1Wiggle 2000ms $ease infinite;
            }
        }

        &:hover{
            .c-interactive-element_chat_item_1_hover,
            .c-interactive-element_chat_item_2_hover{
                animation: chatBubbleFill 2000ms $ease-in infinite;
            }

            .c-interactive-element_chat_item_1_hover{
                animation-delay: 1000ms;
            }

            .c-interactive-element_chat_item_2{
                animation: chatBubble2Wiggle 2000ms $ease infinite;
            }

            .c-interactive-element_chat_item_1{
                animation: chatBubble1Wiggle 2000ms $ease infinite;
            }
        }

        .c-interactive-element_chat_item_1,
        .c-interactive-element_chat_item_2{
            transform-origin: center;
            transform: translate3d(2px,2px,0);
        }

        .c-interactive-element_chat_item_1_white,
        .c-interactive-element_chat_item_2_white{
            fill: #fff;
        }

        .c-interactive-element_chat_item_1_oultine,
        .c-interactive-element_chat_item_2_oultine{
            fill: rgba($brand-purple, 0.87);
        }

        .c-interactive-element_chat_item_1_hover,
        .c-interactive-element_chat_item_2_hover{
            fill: $brand-purple;
            opacity: 0;
        }
    }

    .c-interactive-element_chart{
        bottom: -64px;
        left: 50%;
        transform: translateX(-50%);

        &::before{
            content:"";
            display: inline-block;
            width: 175%;
            height: 175%;
            border-radius: 100%;
            background: radial-gradient(#fff 50%, rgba(#fff, 0.01), rgba(#fff, 0.005), rgba(#fff, 0) 100%);
            position: absolute;
            pointer-events: none;

            @media (max-width: 460px){
                display: none;
            }
        }

        @media (max-width: 460px){
            .c-interactive-element_chart_small,
            .c-interactive-element_chart_medium,
            .c-interactive-element_chart_large{
                animation: pieChartWiggle 2000ms linear infinite;
            }

            .c-interactive-element_chart_medium{
                animation-delay: 500ms;

                .c-interactive-element_chart_hover{
                    animation-delay: 500ms;
                }
            }

            .c-interactive-element_chart_large{
                animation-delay: 1000ms;

                .c-interactive-element_chart_hover{
                    animation-delay: 1000ms;
                }
            }

            .c-interactive-element_chart_hover{
                animation: pieChartFill 2000ms $ease-in infinite;
            }
        }

        &:hover{
            .c-interactive-element_chart_small,
            .c-interactive-element_chart_medium,
            .c-interactive-element_chart_large{
                animation: pieChartWiggle 2000ms linear infinite;
            }

            .c-interactive-element_chart_medium{
                animation-delay: 500ms;

                .c-interactive-element_chart_hover{
                    animation-delay: 500ms;
                }
            }

            .c-interactive-element_chart_large{
                animation-delay: 1000ms;

                .c-interactive-element_chart_hover{
                    animation-delay: 1000ms;
                }
            }

            .c-interactive-element_chart_hover{
                animation: pieChartFill 2000ms $ease-in infinite;
            }
        }

        .c-interactive-element_chart_fix{
            transform: translate3d(3px, 3px, 0);
        }

        .c-interactive-element_chart_solid{
            fill: rgba($brand-purple, 0.87);
        }

        .c-interactive-element_chart_hover{
            fill: $brand-purple;
            opacity: 0;
        }

        .c-interactive-element_chart_small,
        .c-interactive-element_chart_medium,
        .c-interactive-element_chart_large{
            transform-origin: center;
            transform: translate3d(0,0,0);
        }
    }
}

@keyframes pieChartFill{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.15;
    }
    50%,
    100%{
        opacity: 0;
        animation-timing-function: $ease-sharp;
    }
}

@keyframes pieChartWiggle{
    0%{
        transform: translate3d(0,0,0);
    }
    10%{
        transform: translate3d(2px,2px,0);
    }
    30%{
        transform: translate3d(-2px,-2px,0);
    }
    40%,
    100%{
        transform: translate3d(0,0,0);
    }
}

@keyframes chatBubble2Wiggle{
    0%{
        transform: translate3d(2px,2px,0);
    }
    25%{
        transform: translate3d(6px, 6px,0);
    }
    50%{
        transform: translate3d(2px,2px,0);
    }
    75%{
        transform: translate3d(0,0,0);
    }
    100%{
        transform: translate3d(2px,2px,0);
    }
}

@keyframes chatBubble1Wiggle{
    0%{
        transform: translate3d(2px,2px,0);
    }
    25%{
        transform: translate3d(4px,4px,0);
    }
    50%{
        transform: translate3d(2px,2px,0);
    }
    75%{
        transform: translate3d(-1px,-1px,0);
    }
    100%{
        transform: translate3d(2px,2px,0);
    }
}

@keyframes chatBubbleFill{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.15;
    }
    50%,
    100%{
        opacity: 0;
        animation-timing-function: $ease-sharp;
    }
}

@keyframes ringTicker{
    0%{
        transform: rotate(0deg) translate(-12px, -5px);
    }
    25%{
        transform: rotate(-15deg) translate(-12px, -5px);
    }
    75%{
        transform: rotate(15deg) translate(-12px, -5px);
    }
    100%{
        transform: rotate(0deg) translate(-12px, -5px);
    }
}

@keyframes checkLoopMobile{
    0%{
        stroke-dashoffset: 0;
    }
    25%{
        stroke-dashoffset: -120;
    }
    50%,
    100%{
        stroke-dashoffset: -240;
        animation-timing-function: $ease-in;
    }
}

@keyframes checkLoop{
    0%{
        stroke-dashoffset: 0;
    }
    50%{
        stroke-dashoffset: -120;
    }
    100%{
        stroke-dashoffset: -240;
        animation-timing-function: $ease-in;
    }
}

@keyframes rotateCircle{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes heartHoverFill{
    0%{
        transform: scale(0) translate3d(-1px, -8px, 0);
        opacity: 0;
    }
    25%{
        transform: scale(1) translate3d(-1px, -8px, 0);
        opacity: 0.15;
    }
    50%{
        transform: scale(1) translate3d(-1px, -8px, 0);
        opacity: 0.15;
    }
    75%,
    100%{
        transform: scale(1) translate3d(-1px, -8px, 0);
        opacity: 0;
        animation-timing-function: $ease-sharp;
    }
}
