html
{
    font-family: 'Noto Sans', sans-serif;
    line-height: normal; /* [1] */
    font-weight: 400;
    color: #000; /* [1] */
    overflow-y: scroll; /* [2] */
    overflow-x: hidden;
    min-height: 100vh; /* [3] */
    text-align: left;
    position: relative;
    scroll-behavior: smooth;

    *{
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
    }

    &.dom-is-loading{
        *{
            cursor: wait !important;
        }
    }
}

body{
    font-size: 1rem; /* [1] */
    padding: 64px 0;
    margin: 0;
    background-color: rebeccapurple;
}

:root{
    font-size: 100%;
}
