body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  background-color: #7a4291; }
  body article {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

.c-interactive-showcase {
  display: flex;
  padding: 200px 0;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  font-size: 0; }
  .c-interactive-showcase .c-interactive-showcase_wrapper {
    display: inline-flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap; }
    .c-interactive-showcase .c-interactive-showcase_wrapper .c-interactive-showcase_content {
      display: inline-block;
      max-width: 733px;
      position: relative;
      margin: auto; }
      .c-interactive-showcase .c-interactive-showcase_wrapper .c-interactive-showcase_content h3 {
        display: block;
        font-weight: bold;
        font-size: 65px;
        color: #723789;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        padding-bottom: 64px;
        position: relative;
        font-family: 'Noto Sans', sans-serif; }
        .c-interactive-showcase .c-interactive-showcase_wrapper .c-interactive-showcase_content h3::after {
          content: "";
          display: inline-block;
          width: 134px;
          height: 3.5px;
          border-bottom: 3.5px dotted #723789;
          position: absolute;
          bottom: 32px;
          left: 0; }
      .c-interactive-showcase .c-interactive-showcase_wrapper .c-interactive-showcase_content p {
        margin: 0;
        padding: 0;
        line-height: 38px;
        font-size: 26px;
        color: black;
        font-family: 'Noto Sans', sans-serif; }

.c-interactive-element {
  display: inline-block;
  width: 678px;
  height: 678px;
  position: relative;
  margin-right: 100px; }
  .c-interactive-element a {
    text-decoration: none; }
  .c-interactive-element .c-interactive-element_copy {
    text-transform: uppercase;
    color: rgba(114, 55, 137, 0.87);
    font-size: 21px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    display: block;
    text-align: center;
    text-decoration: none;
    z-index: 2;
    margin-top: 8px; }
  .c-interactive-element .c-interactive-element_circle {
    fill: none;
    stroke: #abb2b3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 5px;
    stroke-dasharray: 0 9.0368;
    animation: rotateCircle 120s linear infinite; }
  .c-interactive-element .c-interactive-element_clock,
  .c-interactive-element .c-interactive-element_heart,
  .c-interactive-element .c-interactive-element_checkmark,
  .c-interactive-element .c-interactive-element_chat,
  .c-interactive-element .c-interactive-element_chart {
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    cursor: pointer; }
    .c-interactive-element .c-interactive-element_clock svg,
    .c-interactive-element .c-interactive-element_heart svg,
    .c-interactive-element .c-interactive-element_checkmark svg,
    .c-interactive-element .c-interactive-element_chat svg,
    .c-interactive-element .c-interactive-element_chart svg {
      width: 100px;
      height: 100px;
      z-index: 2; }
  .c-interactive-element .c-interactive-element_heart {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0); }
    .c-interactive-element .c-interactive-element_heart:hover .c-interactive-element_heart_icon_inner {
      animation: heartHoverFill 900ms cubic-bezier(0, 0, 0.2, 1) infinite; }
    .c-interactive-element .c-interactive-element_heart .c-interactive-element_heart_icon {
      fill: rgba(114, 55, 137, 0.87); }
    .c-interactive-element .c-interactive-element_heart .c-interactive-element_heart_icon_inner {
      fill: #723789;
      opacity: 0;
      transform-origin: center;
      transform: scale(0) translate3d(-1px, -8px, 0); }
  .c-interactive-element .c-interactive-element_checkmark {
    top: 50%;
    transform: translateY(-50%);
    right: -60px; }
    .c-interactive-element .c-interactive-element_checkmark::before {
      content: "";
      display: inline-block;
      width: 175%;
      height: 175%;
      border-radius: 100%;
      background: radial-gradient(#fff 50%, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.005), rgba(255, 255, 255, 0) 100%);
      position: absolute;
      pointer-events: none; }
    .c-interactive-element .c-interactive-element_checkmark:hover .c-interactive-element_checkmark_check {
      animation: checkLoop 400ms cubic-bezier(0.4, 0, 0.6, 1); }
    .c-interactive-element .c-interactive-element_checkmark svg {
      transform: translateX(-3px); }
    .c-interactive-element .c-interactive-element_checkmark .c-interactive-element_checkmark_circle,
    .c-interactive-element .c-interactive-element_checkmark .c-interactive-element_checkmark_check {
      fill: none;
      stroke: rgba(114, 55, 137, 0.87);
      stroke-linecap: round; }
    .c-interactive-element .c-interactive-element_checkmark .c-interactive-element_checkmark_circle {
      stroke-width: 7px; }
    .c-interactive-element .c-interactive-element_checkmark .c-interactive-element_checkmark_check {
      stroke-width: 8px;
      stroke-dasharray: 120;
      stroke-dashoffset: 0; }
  .c-interactive-element .c-interactive-element_clock {
    top: 50%;
    transform: translateY(-50%);
    left: -60px; }
    .c-interactive-element .c-interactive-element_clock::before {
      content: "";
      display: inline-block;
      width: 175%;
      height: 175%;
      border-radius: 100%;
      background: radial-gradient(#fff 50%, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.005), rgba(255, 255, 255, 0) 100%);
      position: absolute;
      pointer-events: none; }
    .c-interactive-element .c-interactive-element_clock:hover .c-interactive-element_clock_top {
      animation: ringTicker 150ms cubic-bezier(0.4, 0, 0.2, 1) infinite; }
    .c-interactive-element .c-interactive-element_clock:hover .c-interactive-element_clock_button {
      stroke-dashoffset: -5;
      transition: all 75ms cubic-bezier(0, 0, 0.2, 1); }
    .c-interactive-element .c-interactive-element_clock svg {
      width: 95px;
      height: 95px; }
    .c-interactive-element .c-interactive-element_clock .c-interactive-element_clock_cricle,
    .c-interactive-element .c-interactive-element_clock .c-interactive-element_clock_top {
      fill: rgba(114, 55, 137, 0.87); }
    .c-interactive-element .c-interactive-element_clock .c-interactive-element_clock_top {
      transform-origin: 50px 27px; }
    .c-interactive-element .c-interactive-element_clock .c-interactive-element_clock_button {
      stroke-dasharray: 10;
      stroke-dashoffset: 0;
      transition: all 75ms cubic-bezier(0.4, 0, 0.6, 1); }
    .c-interactive-element .c-interactive-element_clock .c-interactive-element_clock_hand,
    .c-interactive-element .c-interactive-element_clock .c-interactive-element_clock_button {
      fill: none;
      stroke: rgba(114, 55, 137, 0.87);
      stroke-linecap: round;
      stroke-width: 7px; }
  .c-interactive-element .c-interactive-element_chat {
    top: -50px;
    left: 50%;
    transform: translateX(-50%); }
    .c-interactive-element .c-interactive-element_chat::before {
      content: "";
      display: inline-block;
      width: 175%;
      height: 175%;
      border-radius: 100%;
      background: radial-gradient(#fff 50%, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.005), rgba(255, 255, 255, 0) 100%);
      position: absolute;
      pointer-events: none; }
    .c-interactive-element .c-interactive-element_chat:hover .c-interactive-element_chat_item_1_hover,
    .c-interactive-element .c-interactive-element_chat:hover .c-interactive-element_chat_item_2_hover {
      animation: chatBubbleFill 2000ms cubic-bezier(0, 0, 0.2, 1) infinite; }
    .c-interactive-element .c-interactive-element_chat:hover .c-interactive-element_chat_item_1_hover {
      animation-delay: 1000ms; }
    .c-interactive-element .c-interactive-element_chat:hover .c-interactive-element_chat_item_2 {
      animation: chatBubble2Wiggle 2000ms cubic-bezier(0.4, 0, 0.2, 1) infinite; }
    .c-interactive-element .c-interactive-element_chat:hover .c-interactive-element_chat_item_1 {
      animation: chatBubble1Wiggle 2000ms cubic-bezier(0.4, 0, 0.2, 1) infinite; }
    .c-interactive-element .c-interactive-element_chat .c-interactive-element_chat_item_1,
    .c-interactive-element .c-interactive-element_chat .c-interactive-element_chat_item_2 {
      transform-origin: center;
      transform: translate3d(2px, 2px, 0); }
    .c-interactive-element .c-interactive-element_chat .c-interactive-element_chat_item_1_white,
    .c-interactive-element .c-interactive-element_chat .c-interactive-element_chat_item_2_white {
      fill: #fff; }
    .c-interactive-element .c-interactive-element_chat .c-interactive-element_chat_item_1_oultine,
    .c-interactive-element .c-interactive-element_chat .c-interactive-element_chat_item_2_oultine {
      fill: rgba(114, 55, 137, 0.87); }
    .c-interactive-element .c-interactive-element_chat .c-interactive-element_chat_item_1_hover,
    .c-interactive-element .c-interactive-element_chat .c-interactive-element_chat_item_2_hover {
      fill: #723789;
      opacity: 0; }
  .c-interactive-element .c-interactive-element_chart {
    bottom: -64px;
    left: 50%;
    transform: translateX(-50%); }
    .c-interactive-element .c-interactive-element_chart::before {
      content: "";
      display: inline-block;
      width: 175%;
      height: 175%;
      border-radius: 100%;
      background: radial-gradient(#fff 50%, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.005), rgba(255, 255, 255, 0) 100%);
      position: absolute;
      pointer-events: none; }
    .c-interactive-element .c-interactive-element_chart:hover .c-interactive-element_chart_small,
    .c-interactive-element .c-interactive-element_chart:hover .c-interactive-element_chart_medium,
    .c-interactive-element .c-interactive-element_chart:hover .c-interactive-element_chart_large {
      animation: pieChartWiggle 2000ms linear infinite; }
    .c-interactive-element .c-interactive-element_chart:hover .c-interactive-element_chart_medium {
      animation-delay: 500ms; }
      .c-interactive-element .c-interactive-element_chart:hover .c-interactive-element_chart_medium .c-interactive-element_chart_hover {
        animation-delay: 500ms; }
    .c-interactive-element .c-interactive-element_chart:hover .c-interactive-element_chart_large {
      animation-delay: 1000ms; }
      .c-interactive-element .c-interactive-element_chart:hover .c-interactive-element_chart_large .c-interactive-element_chart_hover {
        animation-delay: 1000ms; }
    .c-interactive-element .c-interactive-element_chart:hover .c-interactive-element_chart_hover {
      animation: pieChartFill 2000ms cubic-bezier(0, 0, 0.2, 1) infinite; }
    .c-interactive-element .c-interactive-element_chart .c-interactive-element_chart_fix {
      transform: translate3d(3px, 3px, 0); }
    .c-interactive-element .c-interactive-element_chart .c-interactive-element_chart_solid {
      fill: rgba(114, 55, 137, 0.87); }
    .c-interactive-element .c-interactive-element_chart .c-interactive-element_chart_hover {
      fill: #723789;
      opacity: 0; }
    .c-interactive-element .c-interactive-element_chart .c-interactive-element_chart_small,
    .c-interactive-element .c-interactive-element_chart .c-interactive-element_chart_medium,
    .c-interactive-element .c-interactive-element_chart .c-interactive-element_chart_large {
      transform-origin: center;
      transform: translate3d(0, 0, 0); }

@keyframes pieChartFill {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.15; }
  50%,
  100% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1); } }

@keyframes pieChartWiggle {
  0% {
    transform: translate3d(0, 0, 0); }
  10% {
    transform: translate3d(2px, 2px, 0); }
  30% {
    transform: translate3d(-2px, -2px, 0); }
  40%,
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes chatBubble2Wiggle {
  0% {
    transform: translate3d(2px, 2px, 0); }
  25% {
    transform: translate3d(6px, 6px, 0); }
  50% {
    transform: translate3d(2px, 2px, 0); }
  75% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(2px, 2px, 0); } }

@keyframes chatBubble1Wiggle {
  0% {
    transform: translate3d(2px, 2px, 0); }
  25% {
    transform: translate3d(4px, 4px, 0); }
  50% {
    transform: translate3d(2px, 2px, 0); }
  75% {
    transform: translate3d(-1px, -1px, 0); }
  100% {
    transform: translate3d(2px, 2px, 0); } }

@keyframes chatBubbleFill {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.15; }
  50%,
  100% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1); } }

@keyframes ringTicker {
  0% {
    transform: rotate(0deg) translate(-12px, -5px); }
  25% {
    transform: rotate(-15deg) translate(-12px, -5px); }
  75% {
    transform: rotate(15deg) translate(-12px, -5px); }
  100% {
    transform: rotate(0deg) translate(-12px, -5px); } }

@keyframes checkLoop {
  0% {
    stroke-dashoffset: 0; }
  50% {
    stroke-dashoffset: -120; }
  100% {
    stroke-dashoffset: -240;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1); } }

@keyframes rotateCircle {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

@keyframes heartHoverFill {
  0% {
    transform: scale(0) translate3d(-1px, -8px, 0);
    opacity: 0; }
  25% {
    transform: scale(1) translate3d(-1px, -8px, 0);
    opacity: 0.15; }
  50% {
    transform: scale(1) translate3d(-1px, -8px, 0);
    opacity: 0.15; }
  75%,
  100% {
    transform: scale(1) translate3d(-1px, -8px, 0);
    opacity: 0;
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1); } }
